@import "common/var";
@import "common/function";

$--lg: $breakpoints;
$--color-primary: $color-primary;
$--background-color-base: $background-color-medium;
$--table-header-background: $background-color-light;
$--table-header-color: $font-color-primary;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import "reset";
@import "space";
@import "plugins/font";
@import "common/flex";
@import "common/transtion";

@import "plugins/card";
@import "plugins/page";
@import "plugins/header";