@import "common/var";

//region margin
.margin-mini {
	margin: $space-mini;
}
.margin-small {
	margin: $space-small;
}
.margin-medium {
	margin: $space-medium;
}
.margin-large {
	margin: $space-large;
}

//region horizontal
.margin-horizontal-mini {
	margin-left: $space-mini;
	margin-right: $space-mini;
}
.margin-horizontal-small {
	margin-left: $space-small;
	margin-right: $space-small;
}
.margin-horizontal-medium {
	margin-left: $space-medium;
	margin-right: $space-medium;
}
.margin-horizontal-large {
	margin-left: $space-large;
	margin-right: $space-large;
}
//endregion

//region vertical
.margin-vertical-mini {
	margin-top: $space-mini;
	margin-bottom: $space-mini;
}
.margin-vertical-small {
	margin-top: $space-small;
	margin-bottom: $space-small;
}
.margin-vertical-medium {
	margin-top: $space-medium;
	margin-bottom: $space-medium;
}
.margin-vertical-large {
	margin-top: $space-large;
	margin-bottom: $space-large;
}
//endregion

//region left
.margin-left-mini {
	margin-left: $space-mini;
}
.margin-left-small {
	margin-left: $space-small;
}
.margin-left-medium {
	margin-left: $space-medium;
}
.margin-left-large {
	margin-left: $space-large;
}
//endregion

//region right
.margin-right-mini {
	margin-right: $space-mini;
}
.margin-right-small {
	margin-right: $space-small;
}
.margin-right-medium {
	margin-right: $space-medium;
}
.margin-right-large {
	margin-right: $space-large;
}
//endregion

//region top
.margin-top-mini {
	margin-top: $space-mini;
}
.margin-top-small {
	margin-top: $space-small;
}
.margin-top-medium {
	margin-top: $space-medium;
}
.margin-top-large {
	margin-top: $space-large;
}
//endregion

//region bottom
.margin-bottom-mini {
	margin-bottom: $space-mini;
}
.margin-bottom-small {
	margin-bottom: $space-small;
}
.margin-bottom-medium {
	margin-bottom: $space-medium;
}
.margin-bottom-large {
	margin-bottom: $space-large;
}
//endregion
//endregion

//region padding
.padding-mini {
	padding: $space-mini;
}
.padding-small {
	padding: $space-small;
}
.padding-medium {
	padding: $space-medium;
}
.padding-large {
	padding: $space-large;
}

//region horizontal
.padding-horizontal-mini {
	padding-left: $space-mini;
	padding-right: $space-mini;
}
.padding-horizontal-small {
	padding-left: $space-small;
	padding-right: $space-small;
}
.padding-horizontal-medium {
	padding-left: $space-medium;
	padding-right: $space-medium;
}
.padding-horizontal-large {
	padding-left: $space-large;
	padding-right: $space-large;
}
//endregion

//region vertical
.padding-vertical-mini {
	padding-top: $space-mini;
	padding-bottom: $space-mini;
}
.padding-vertical-small {
	padding-top: $space-small;
	padding-bottom: $space-small;
}
.padding-vertical-medium {
	padding-top: $space-medium;
	padding-bottom: $space-medium;
}
.padding-vertical-large {
	padding-top: $space-large;
	padding-bottom: $space-large;
}
//endregion

//region left
.padding-left-mini {
	padding-left: $space-mini;
}
.padding-left-small {
	padding-left: $space-small;
}
.padding-left-medium {
	padding-left: $space-medium;
}
.padding-left-large {
	padding-left: $space-large;
}
//endregion

//region right
.padding-right-mini {
	padding-right: $space-mini;
}
.padding-right-small {
	padding-right: $space-small;
}
.padding-right-medium {
	padding-right: $space-medium;
}
.padding-right-large {
	padding-right: $space-large;
}
//endregion

//region top
.padding-top-mini {
	padding-top: $space-mini;
}
.padding-top-small {
	padding-top: $space-small;
}
.padding-top-medium {
	padding-top: $space-medium;
}
.padding-top-large {
	padding-top: $space-large;
}
//endregion

//region bottom
.padding-bottom-mini {
	padding-bottom: $space-mini;
}
.padding-bottom-small {
	padding-bottom: $space-small;
}
.padding-bottom-medium {
	padding-bottom: $space-medium;
}
.padding-bottom-large {
	padding-bottom: $space-large;
}
//endregion
//endregion
