@import "var";

@mixin font-size-medium {
    font-size: $font-size-base;
    @media (max-width: $breakpoints) {
        font-size: $font-size-small;
    }
}

@mixin font-size-large {
    font-size: $font-size-large;
    @media (max-width: $breakpoints) {
        font-size: $font-size-base;
    }
}

@mixin font-size-title-m {
    font-size: $font-size-title-m;
    @media (max-width: $breakpoints) {
        font-size: $font-size-large;
    }
}


@mixin scroll(){
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(128,128,128,0.1);
    }

    /*定义滚动条轨道 内阴影+圆角*/
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(196,196,196,0.2);
        border-radius: 10px;
        background-color: rgba(196,196,196,0.2);
    }

    /*定义滑块 内阴影+圆角*/
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(144,144,144,0.8);
        background-color: rgba(144,144,144,0.8);
    }
}
