@import "var";

.rotate-enter-active {
	animation: rotate-inverse 200ms linear;
}

.rotate-leave-active {
	animation: rotate 200ms linear;
}

.rotate-leave {
	transform: rotate(90deg);
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate-inverse {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
